.button{
    margin: auto;
}

.button1{
	height: 50px;
	width: 280px;
	border: 0;
	border-radius: 15px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
    background-image: linear-gradient(to right, #E040FB, #00BCD4);
    font-weight: 500;
    color:white;
}

.button1:hover{
    transform: scale(1.02);
    background-image: linear-gradient(to right, #d602fc, #00e1ff);
    transition: ease-in .5s;
}


.t1{
    width: 80%;
    height: 400px;

}

.t1 table{
    color:white;
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(10px);
}

